
/* header{
    
} */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    overflow-x: hidden;
    background-color: #ffffff;
    color: #666666;
}
.account{
     background-color: #00aafd;
}
.ln
{
        text-align: center;
        padding: 10px;
        padding-left: 50%;
}
.Latest
{
    padding: 6px;
}
.itemz
{
    width: 300px;
}
.itemz>a>img
{
    width: 300px;
}
.itemz>.date>h4
{

}
.itemz>.info
{

}
.itemz>.info>a
{
    border: 1px solid;
    padding: 10px;
    color: white;
    background: #0d6efd;
}
.col-md-8>ul>li{
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    color: #ffffff;
}
.col-md-8>ul>li>a{
    text-decoration: none;
    color: white;
}
/* a
{
    color: white;
    text-decoration: none;
} */
.bottom{
    display: flex;
}
.my>li{
    border: 1px solid;
    border-radius: 30px;
    display: inline-flex;
    padding: 6px 20px;
    color: white;
    margin-left: 200px;
}
.my>li>a{
    color: white;
    text-decoration: none
}
.col-md-8>ul{
    list-style: none;
}
.col-md-6>img {
    width: 100%;
}
.code>img{
    padding: 30px;
}
/* .s>ul{
    display: flex;
    list-style: none;
    padding: 20px;
} */
.icon1{
    padding: 20px;
}
.icon1>a{
    color: black;
    text-decoration: none;
}
.navbar>ul>li>a{
    color: black;
    text-decoration: none;
}
.navbar>ul{
    display: flex;
    list-style: none;
    padding: 20px;
}
.navbar>ul>li
{
    padding: 20px;
}
input{
    width: 400px;
    height: 50px;
    border-radius:5px ;
    border: 1px solid #00aafd
    
}
button{
    height: 50px;
    width: 70px;
    color: white;
    background: #0d6efd;
    border-radius: 5px;
}
.popular
{
    background: #18a7fc;
    color: white;
    
}
.ltst{
    background-color: #18a7fc;
    color: white;
}
.themes{
    background-color:#0072b20d 
}
.item{
    margin-top: 30px;
    width: 300px;
}
.product>a>img {
    width: 330px;
    height: 300px;
}
.product>a{
    color: black;
    
}
.top{

}
.top>h5{
    margin-bottom: 5px;
}
.top>h5>a{
    color: black;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.trend>.container>.row>.col-md-4
{
    margin-top: 30px;
    background-color: white;
}
.preview
{
    border: 2px round;
}
.in{
 color: black;   
}
.sale>h4{
    margin-left: 150px;
}
.pv{
    background: #0d6efd;
    border: solid;
    color: white;
    padding: 10px;
}
.item>.icon{
    
}
.sp
{
    border-right: 1px;
}
.how{
    background-color: #18a7fc;
    color: white;
    text-align: center;
}

   @media(max-width:1030px){
     .mn{
        display: none;
     }
     .product>a>img {
        width: 200px;
        height: 300px;
    }
    .sale>h4{
        margin-left: 20px;
    }
    .item{
        margin-left: 20%;
    }
    .code{
        text-align: center;
    }
    .icon1{
        text-align: center;
    }
    .Latest{
        padding-left: 20%;
        
    }
    .ln{
        padding-left: 0%;
    }
   }
/* end */
.end{
    border-top: 2px w;
    background-color: #00aafd;
    color: white;
}
.logo
{
    text-align: center;
}
.n>ul>li{
    display: flex;
    list-style: none;
}
.link>h4{
    padding-left:30px ;
}
.link>ul>li{
    list-style: none;
    
}
.link>ul>li>a{
    color: white;
}
.social>ul>li{
    display: contents;
    list-style: none;
}
.social>ul>li>a{
    padding: 20px;

}
.social>ul>li>a>i{
    
      color: white;
}
.card{
    background-color: #00aafd;
    border: 0px;
}
.card>ul>li{
    display: contents;
    list-style: none;
}